section.sec.sec1
    include header
    div.container.color-white
        h2.medium.tt-uppercase.sec1__heading.
            95% времени занимаетесь операционкой?
        p.xl.italic.mb1.
            Опишите наконец бизнес-процессы
        div.sec1__border
            p.s.sec1__border-text.mb0.medium.
                Покончите с операционкой и начните<br> заниматься приоритетными бизнес-задачами
            a(href="#bottomForm").sec1__btn.btn-round.btn-round_main.sec1__border-btn.btn-round_anchor.
                Настроить бизнес-процессы
    img(src="img/sec1-phone.png", alt="").sec1__img.sec1__img_phone
    img(src="img/sec1-man.png", alt="").sec1__img.sec1__img_man