section.sec.sec3
    div.container
        h3.ta-center.bold.
            Комплексная настройка бизнес-процессов для всех отделов компании
        p.m.italic.ta-center.mb2.sec3__subtitle.
            Первым делом начните оптимизацию бизнес-процессов с отдела продаж,<br> потому что главное в каждом бизнесе – это продажи
        img(src="img/sec3-girl.png", alt="").sec3__girl
    div.sec3__gears
        img(src="img/gear-medium.png", alt="").sec3__gear.sec3__gear_medium
        img(src="img/gear-big.png", alt="").sec3__gear.sec3__gear_big
