section#bottomForm.sec.sec4
    div.container.sec4__container
        h3.medium.color-white.ta-center.sec4__heading.
            Скачайте PDF-презентацию и узнайте, как настроить бизнес-процессы и увеличить прибыль компании
        include bottom-form
    img(src="img/sec4-man.png", alt="").sec4__man